[submodule "user_service"]
	path = user_service
	url = https://github.com/SocialNetworkCorporation/User_Service.git
	branch = main
[submodule "project_service"]
	path = project_service
	url = https://github.com/SocialNetworkCorporation/Project_Service.git
	branch = main
[submodule "post_service"]
	path = post_service
	url = https://github.com/SocialNetworkCorporation/Post_Service.git
	branch = main
[submodule "payment_service"]
	path = payment_service
	url = https://github.com/SocialNetworkCorporation/Payment_Service.git
	branch = main
[submodule "notification_service"]
	path = notification_service
	url = https://github.com/SocialNetworkCorporation/Notification_Service.git
	branch = main
[submodule "analytics_service"]
	path = analytics_service
	url = https://github.com/SocialNetworkCorporation/Analytics_Service.git
	branch = main
[submodule "achievement_service"]
	path = achievement_service
	url = https://github.com/SocialNetworkCorporation/Achievement_Service.git
	branch = main
[submodule "account_service"]
	path = account_service
	url = https://github.com/SocialNetworkCorporation/Account_Service.git
	branch = main
[submodule "url_shortener_service"]
	path = url_shortener_service
	url = https://github.com/SocialNetworkCorporation/Url_Shortner_Service.git
	branch = main
[submodule "infra"]
	path = infra
	url = https://github.com/SocialNetworkCorporation/Infra.git
	branch = main
[submodule "Analytics_Service"]
	path = Analytics_Service
	url = https://github.com/SocialNetworkCorporation/Analytics_Service.git
